div.blog-entry-body {
	text-align: left;
}

div.articleText div.article_author, div.articleText div.blog-entry-date {
	display: none;
}

div.articleText div.blog-entry-title {
	font-size: 18px;
	font-weight: bold;
}

div.articleText div.blog-entry-body {
	font-size: 13px;
	line-height: 17px;
	width: auto;
	color: #323232;
}

div.articleText div.blog-entry-body hr {
	display: none;
}

div.articleText div.blog-entry-body p.first_paragraph {
	overflow: hidden;
	border-bottom: 1px #b8bab2 solid;
}

div.articleText div.blog-entry-body p.first_paragraph img {
	margin-left: 20px;
	margin-bottom: 30px;
}

div.productText {
	margin-top: 8px;
}

div.articleFrontText {
	margin: 0;
}

div.articleFrontText div.article_author, div.articleFrontText div.blog-entry-date {
	display: none;
}

div.articleFrontText div.blog-entry-body {
	width: auto;
}

div.articleText div.blog-entry-body h2 {
	color: #323232;
	font-size: 16px;
	padding-top: 20px;
}

div.articleText div.blog-entry-body h3 {
	text-transform: uppercase;
	color: #1f1f1f;
	font-size: 14px;
	padding-top: 20px;
}

div.staffText {
	margin: 30px 34px;
}

div.staffText div.article_author, div.staffText div.blog-entry-date, div.staffText div.blog-entry-title {
	display: none;
}

div.staffText div.blog-entry-body {
	width: auto;
}

div.staffInfo {
	overflow: hidden;
	padding-bottom: 21px;
	border-bottom: 1px #b8bab2 solid;
}

div.staffInfo div.staffImage {
	float: left;
	width: 79px;
	height: 99px;
	border: 1px #797979 solid;
	margin-right: 16px;
}

div.staffInfo div.staffName {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	color: #1f1f1f;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #fff 2px 2px 1px;
	margin-bottom: 3px;
}

div.staffInfo div.staffTitle {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #292d34;
	font-weight: bold;
	margin-bottom: 16px;
	line-height: 18px;
}

div.staffInfo div.staffBorn, div.staffInfo div.staffEducation {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #292d34;
	line-height: 18px;
}

div.staffDetails {
	border-top: 1px #fff solid;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 11px;
	color: #1f1f1f;
	line-height: 18px;
}

div.staffText a.lbAction {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 11px;
}

div.articleProductText {
	margin: 0;
}

div.articleProductText div.article_author, div.articleProductText div.blog-entry-date, div.articleProductText div.blog-entry-title {
	display: none;
}

div.articleProductText div.blog-entry-body {
	width: auto;
}

div.articleProductInfo div.article_author, div.articleProductInfo div.blog-entry-date, div.articleProductInfo div.blog-entry-title {
	display: none;
}

div.articleProductInfo div.blog-entry-body {
	width: auto;
	text-align: left;
	position: relative;
	display: block;
}

div#middle div.articleProductInfo div.blog-entry-body h1 {
	line-height: 18px;
	margin: 0;
	background: none;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 8px;
}

div#middle div.articleProductInfo div.blog-entry-body h2 {
	line-height: 22px;
	margin-top: 12px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: bold;
}

div.articleProductInfo div.blog-entry-body a.productLogo {
	position: absolute;
	right: 0;
	top: 8px;
}

div.articleProductInfo div.blog-entry-body p.emphasis {
	padding-right: 0;
	font-size: 14px;
	color: #7e7e7e;
	font-family: Arial, Helvetica, sans-serif;
	width: 140px;
	margin-bottom: 8px;
}

div.miniProducts div.blog-entry-body {
	padding-right: 10px;
}

div.miniProducts div.blog-entry-body p.emphasis {
	width: auto;
}

div#newsList {
	padding: 0 20px;
}

div#newsList div.article_item, div.newsDetails {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 10px 0 17px 0;
	background: url(/content/files/public/style/images/backgrounds/main-heading-background.gif) bottom repeat-x;
}

div.newsDetails {
	margin: 0 20px;
}

div#newsList div.article_item div.blog-entry-date, div#newsList div.article_item div.article_author, div.newsDetails div.blog-entry-date, div.newsDetails div.article_author {
	position: absolute;
	left: 0;
	margin: 0;
	padding: 0;
	border: 0;
	width: 140px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1f1f1f;
	line-height: 22px;
	padding-bottom: 1px;
	background: url(/content/files/public/style/images/backgrounds/main-heading-background.gif) bottom repeat-x;
}

div#newsList div.article_item div.blog-entry-date, div.newsDetails div.blog-entry-date {
	top: 10px;
}

div#newsList div.article_item div.article_author, div.newsDetails div.article_author {
	top: 34px;
	color: #459dd4;
}

div#newsList div.article_item div.blog-entry-body, div.newsDetails div.blog-entry-body {
	float: right;
	width: 642px;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #1f1f1f;
	font-size: 18px;
	font-weight: bold;
	line-height: 23px;
	margin-bottom: 10px;
}

div#newsList div.article_item div.blog-entry-body, div#newsList div.article_item div.article_teaser, div.newsDetails div.blog-entry-body, div.newsDetails div.article_teaser {
	float: right;
	width: 642px;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #323232;
	font-size: 13px;
	line-height: 17px;
	border: 0;
}

div#newsList div.article_item div.blog-entry-body {
	display: none;
}

div.newsDetails div.blog-entry-body {
	display: block;
}

div#newsList div.article_item div.article_teaser {
	display: block;
}

div.newsDetails div.article_teaser {
	display: none;
}

div#newsList div.article_item div.item_details_command {
	float: right;
	width: 642px;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
}

a.newsBack {
	margin-left: 180px;
	margin-top: 12px;
}