html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1f1f1f;
	background: url(login-background.png) repeat-x #edefe7;
}

a {
	color: #f86a00;
	text-decoration: none;
}

a:hover {
	color: #f86a00;
	text-decoration: underline;
}

img {
	border: 0;
	vertical-align: bottom;
}

div#container {
	height: 100%;
}

html>body div#container {
	height: auto;
	min-height: 100%;
}

div.marginHandler {
	width: 840px;
	margin: 0 auto;
	position: relative;
}

/* Top */
div#top {
	height: 79px;
	background: url(top-background.png);
	border-bottom: 1px #fff solid;
}

a#logo {
	margin-top: 29px;
	float: left;
	display: block;
}

a#openTab, 
a#closeTab {
	position: absolute;
	left: 184px;
	top: 3px;
	display: block;
	width: 146px;
	height: 26px;
}

html>body a#openTab {
	background: url(/content/files/public/style/images/buttons/login-tab.png) no-repeat;
}

a#closeTab {
	display: none;
}

html>body a#closeTab {
	background: url(/content/files/public/style/images/buttons/close-tab.png) no-repeat;
}

a#openTab span, a#closeTab span {
	display: none;
}

div#top ul {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
	margin-top: 33px;
}

html>body div#top ul {
	margin-top: 36px;
}

div#top ul li {
	display: block;
	float: left;
	margin-left: 24px;
}

div#top ul li a {
	font-size: 11px;
	color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	margin: 0;
	text-decoration: none;
	display: inline;
	height: 12px;
	line-height: 12px;
}

div#top ul li a:hover {
	color: #f86a00;
}

div#top ul li.selected {
	border-bottom: 1px #fff solid;
}

html>body div#top ul li.selected {
	padding-bottom: 3px;
}

/* Middle */
div#middle {
	background-color: #edefe7;
}

div#middle div.marginHandler {
	width: 900px;
	background: url(middle-top-background.gif) top left no-repeat;
}

div#middle div.top {
	height: 69px;
	padding: 0 30px;
	position: relative;
}

html>body div#middle div.top {
	height: auto;
	min-height: 69px;
}

div#middle div.top div#slogan {
	font-size: 12px;
	color: #103b44;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 8px;
	color: #103b44;
}

div#middle div.top div#banner object, div#middle div.top div#banner embed {
	margin-top: -12px;
	z-index: 1;
/*ATH*/display: none;
}

div#middle div.top div#banner{
height: 236px;
background: transparent;
position: relative;
}

div#middle div.top div#banner .banner-bg{
padding: 8px 5px 0 0;
font-size: 12px;
}

div#middle div.top div#banner img{
display: block !important;
margin-top: -34px !important;
}


div#middle div.top div#banner .article_author,
div#middle div.top div#banner .blog-entry-date,
div#middle div.top div#banner .blog-entry-title,
div#middle div.top div#banner .article_teaser,
.top #slogan .article_author,
.top #slogan .blog-entry-date,
.top #slogan .blog-entry-title,
.top #slogan .article_teaser,
.pageHeader .article_author,
.pageHeader .blog-entry-date,
.pageHeader .blog-entry-title,
.pageHeader .article_teaser,
.frontHeading .article_author,
.frontHeading .blog-entry-date{
display: none;
}

.pageHeader .article_item{
padding: 0 !important;
margin: 0 !important;
height: auto !important;
}


.pageHeader .blog-entry-body{
width: 100%;
}

.top #slogan .article_item{
padding: 0;
margin: 0;
}


div#middle div.top div#banner .article_item{
margin: 0;
background: transparent;
}

div#middle div.main {
	background: url(middle-background.jpg) top left no-repeat;
	margin: 0 19px;
	padding: 0 11px;
	padding-bottom: 170px;
	position: relative;
	width: 840px;
	overflow: hidden;
}

body.frontTemplate div#middle div.main {
	padding-bottom: 0;
}

html>body div#middle div.main {
	height: auto;
	min-height: 328px;
}

div#middle div.main h1 {
	line-height: 32px;
	margin: 0 20px;
	padding: 0;
	padding-top: 2px;
	color: #1f1f1f;
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	background: url(main-heading-background.gif) bottom repeat-x;
	text-shadow: #fff 2px 2px 1px;
}

a#backLink {
	position: absolute;
	right: 31px;
	top: 10px;
	font-size: 14px;
}

div.main div.left {
	float: left;
	width: 139px;
	margin-top: 11px;
	margin-left: 20px;
}

div.main div.left ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.main div.left ul li {
	margin: 0;
	padding: 0;
	line-height: 22px;
	padding-bottom: 1px;
	background: url(main-heading-background.gif) bottom repeat-x;
}

div.main div.left ul li a {
	color: #1f1f1f;
}

div.main div.left ul li a:hover {
	color: #f86a00;
}

div.main div.left ul li.selected a {
	color: #459dd4;
}

div.main div.right {
	float: right;
	width: 642px;
	margin-top: 11px;
	margin-right: 20px;
	font-size: 13px;
}

div.columns {
	width: 840px;
	overflow: hidden;
}

div.columns div.column {
	padding: 0;
	float: left;
	width: 191px;
	margin-left: 11px;
}

html>body div.columns div.column {
	margin-left: 18px;
}

body.frontTemplate div.columns div.column {
	width: 176px;
	margin-left: 11px;
	margin-right: 16px;
}

html>body.frontTemplate  div.columns div.column {
	margin-left: 18px;
}

div.columns div.column p {
	clear: both;
	margin: 0;
	font-size: 12px;
	color: #323232;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	line-height: 18px;
}

div.columns div.column h2 {
	margin: 0;
	padding: 0;
	font-size: 11px;
	margin-top: 32px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
}

div.columns div.column ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 4px;
}

div.columns div.column ul li {
	background: url(/content/files/public/style/images/icons/list-arrow.gif) 1px no-repeat;
	padding-left: 10px;
	line-height: 18px;
}

div.columns div.column ul li a {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
}

div.main div.chisseled {
	display: block;
	margin-top: 32px;
	height: 112px;
	margin-left: 2px;
	margin-right: 1px;
	background: url(chissel-background.gif) no-repeat;
	padding-top: 53px;
}

html>body div.main div.chisseled {
	height: 59px;
}

div.newsTicker {
display: none;
	float: left;
	margin-left: 16px;
	width: 591px;
	height: 19px;
	background: url(/content/files/public/style/images/backgrounds/rss-background.png);
}

div.newsTicker h4 {
	margin: 0;
	padding: 0;
	float: left;
	margin-top: 3px;
	margin-bottom: 4px;
	background: url(images/backgrounds/rss-heading-background.gif) right 3px no-repeat;
	padding-right: 10px;
	padding-left: 16px;
	margin-right: 10px;
}

div.search {
display: none;
	float: right;
	background: url(search-background.png) no-repeat;
	width: 186px;
	height: 19px;
	margin-right: 18px;
}

div.search div.iw_searcher form {
	margin: 0;
	padding: 0;
}

div.search div.iw_searcher input.iw_searcher_input {
	margin-left: 24px;
	margin-top: 2px;
	width: 150px;
	border: 0;
	font-size: 10px;
	padding-top: 2px;
	opacity: 0.5;
}

div.search div.iw_searcher input.iw_searcher_button {
	display: none;
}

ul.productNavigation {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 165px;
	left: 55px;
	z-index: 2;
}

ul.productNavigation li {
	float: left;
	display: block;
	background: url(/content/files/public/style/images/tabs/left.gif) left no-repeat;
	height: 28px;
	padding-left: 3px;
	margin-right: 8px;
}

ul.productNavigation li a {
	background: url(/content/files/public/style/images/tabs/right.gif) right no-repeat;
	height: 28px;
	line-height: 28px;
	display: block;
	padding-left: 9px;
	padding-right: 12px;
	color: #323232;
	font-size: 12px;
}

ul.productNavigation li.selected {
	background-image: url(/content/files/public/style/images/tabs/left-selected.gif);
}

ul.productNavigation li.selected a {
	background-image: url(/content/files/public/style/images/tabs/right-selected.gif);
}

div.twoColumns {
	width: 840px;
	overflow: hidden;
	padding-top: 16px;
}

div.twoColumns div.leftColumn {
	float: left;
	margin-left: 25px;
	margin-top: 12px;
	width: 457px;
}

div.twoColumns div.leftColumn p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-top: 20px;
	color: #686868;
}

div.twoColumns div.leftColumn p.emphasis {
	font-size: 14px;
	color: #323232;
}

div.twoColumns div.rightColumn {
	float: right;
	width: 310px;
	margin-right: 14px;
}

div#middle div.main div.twoColumns div.rightColumn h1 {
	margin: 0;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 14px;
	text-shadow: #fff 2px 2px 1px;
}

div.twoColumns div.rightColumn ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.twoColumns div.rightColumn ul li {
	padding-left: 38px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 17px;
	margin-top: 18px;
	background: url(/content/files/public/style/images/icons/temp.gif) 0px 3px no-repeat;
	padding-right: 6px;
	color: #323232;
}

div.twoColumns div.rightColumn ul li h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

div.twoColumns div.rightColumn ul li p {
	margin: 0;
	padding: 0;
}

div.twoColumns div.rightColumn ul.egov li.item1 {
	background-image: url(/content/files/public/style/images/icons/egov-1.gif);
}

div.twoColumns div.rightColumn ul.egov li.item2 {
	background-image: url(/content/files/public/style/images/icons/egov-2.gif);
}

div.twoColumns div.rightColumn ul.egov li.item3 {
	background-image: url(/content/files/public/style/images/icons/egov-3.gif);
}

div.twoColumns div.rightColumn ul.egov li.item4 {
	background-image: url(/content/files/public/style/images/icons/egov-4.gif);
}

div.twoColumns div.rightColumn ul.egov li.item5 {
	background-image: url(/content/files/public/style/images/icons/egov-5.gif);
}

div.twoColumns div.rightColumn ul.egov li.item6 {
	background-image: url(/content/files/public/style/images/icons/egov-6.gif);
}

div.twoColumns div.rightColumn ul.etravel li.item1 {
	background-image: url(/content/files/public/style/images/icons/etravel-1.gif);
}

div.twoColumns div.rightColumn ul.etravel li.item2 {
	background-image: url(/content/files/public/style/images/icons/etravel-2.gif);
}

div.twoColumns div.rightColumn ul.etravel li.item3 {
	background-image: url(/content/files/public/style/images/icons/etravel-3.gif);
}

div.twoColumns div.rightColumn ul.etravel li.item4 {
	background-image: url(/content/files/public/style/images/icons/etravel-4.gif);
}

div.twoColumns div.rightColumn ul.etravel li.item5 {
	background-image: url(/content/files/public/style/images/icons/etravel-5.gif);
}

div.twoColumns div.rightColumn ul.etravel li.item6 {
	background-image: url(/content/files/public/style/images/icons/etravel-6.gif);
}

div.twoColumns div.rightColumn ul.etravel li.item7 {
	background-image: url(/content/files/public/style/images/icons/etravel-7.gif);
}

div.twoColumns div.rightColumn ul.eplatform li.item1 {
	background-image: url(/content/files/public/style/images/icons/eplatform-1.gif);
}

div.twoColumns div.rightColumn ul.eplatform li.item2 {
	background-image: url(/content/files/public/style/images/icons/eplatform-2.gif);
}

div.twoColumns div.rightColumn ul.eplatform li.item3 {
	background-image: url(/content/files/public/style/images/icons/eplatform-3.gif);
}

div.twoColumns div.rightColumn ul.eplatform li.item4 {
	background-image: url(/content/files/public/style/images/icons/eplatform-4.gif);
}

div.twoColumns div.rightColumn ul.eplatform li.item5 {
	background-image: url(/content/files/public/style/images/icons/eplatform-5.gif);
}

div.twoColumns div.rightColumn ul.eplatform li.item6 {
	background-image: url(/content/files/public/style/images/icons/eplatform-6.gif);
}

div.twoColumns div.rightColumn ul.eplatform li.item7 {
	background-image: url(/content/files/public/style/images/icons/eplatform-7.gif);
}

div.bubble div.bubbleTop {
	height: 8px;
	background: url(/content/files/public/style/images/bubbles/top-right.gif) top right no-repeat;
	position: relative;
}

div.bubble div.bubbleTop div.bubbleTopLeft {
	width: 8px;
	height: 8px;
	float: left;
	background: url(/content/files/public/style/images/bubbles/top-left.gif);
}

div.bubble div.bubbleMiddle {
	border-left: 1px #d2d4cc solid;
	border-right: 1px #d2d4cc solid;
	background-color: #f6f7f3;
	padding: 10px 20px;
}

div.bubble div.bubbleBottom {
	height: 8px;
	background: url(/content/files/public/style/images/bubbles/bottom-right.gif) bottom right no-repeat;
	position: relative;
}

div.bubble div.bubbleBottom div.bubbleBottomLeft {
	float: left;
	background: url(/content/files/public/style/images/bubbles/bottom-left.gif);
	width: 8px;
	height: 8px;
}

div.client {
	margin-top: 40px;
}

div.client h3 {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

div#middle div.client p {
	margin: 0;
	margin-top: 4px;
	padding: 0;
	overflow: hidden;
	font-size: 13px;
	color: #898989;
}

div.client p img {
	float: right;
	margin-left: 10px;
}

div#middle.presentation div.left {
	width: 541px;
	margin-left: 30px;
}

div#middle.presentation div.left h1 {
	background: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 28px;
	margin: 0;
	margin-top: 18px;
	margin-bottom: 20px;
}

div#middle.presentation div.right {
	width: 238px;
	margin-right: 16px;
}

div#middle.presentation div.right h1 {
	margin-left: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 16px;
	margin-right: 0;
}

div#middle.presentation div.right p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 17px;
	color: #323232;
}

div#middle.presentation div.right ul {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
	list-style: none;
	padding: 0;
}

div.presentationButtons {
	overflow: hidden;
	margin-top: 20px;
}

div.presentationButtons a {
	display: block;
	float: left;
	height: 26px;
	background: url(/content/files/public/style/images/buttons/left.gif) left no-repeat;
	padding-left: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #323232;
}

div.presentationButtons a.getPresentation {
	margin-right: 3px;
}

div.presentationButtons a span {
	line-height: 26px;
	display: block;
	background: url(/content/files/public/style/images/buttons/right.gif) right no-repeat;
	padding-right: 12px;
}

div.viewerItem {
	margin-bottom: 12px;
	overflow: hidden;
}

div.viewerItem div.label {
	float: left;
	width: 130px;
	font-weight: bold;
}

table.staffTable {
	width: 100% !important;
}

table.staffTable tr th, table.staffTable tr td {
	text-align: left;
	border-bottom: 1px #b8bab2 solid;
	line-height: 23px;
	padding: 0;
	font-size: 11px;
}

table.staffTable tr th.email, table.staffTable tr td.email {
	text-align: right;
}

a.backToTop {
	display: block;
	margin-top: 20px;
	background: url(/content/files/public/style/images/icons/back-arrow.gif) top left no-repeat;
	padding-top: 5px;
	float: left;
	font-size: 12px;
}

/* Bottom */
div#bottom {
	font-size: 12px;
	color: #8f8f8f;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: -68px;
	padding: 0;
	height: 37px;
	background: #242424;
	position: relative;
	bottom: 0;
	padding-top: 16px;
padding-bottom: 15px;
}

div#bottom a {
	color: #f86a00;
	text-decoration: none;
}

div#bottom a:hover {
	text-decoration: underline;
}

div#bottomLeft {
	float: left;
}

div#bottomRight {
	float: right;
	color: #f86a00;
}

/* Contact us */
div.text_inputs input{
	margin-bottom: 15px;
	width: 250px;
	border: 1px solid #999999;
}

div.submit_inputs input{
	background: #fff;
	color: #459dd4;
	border-width: 0px !important;
	width: 65px;
	height: 21px;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	padding-right: 20px;
	background: #fff url(/content/files/public/style/images/buttons/send_button.gif) top left no-repeat;
}

div.text_inputs textarea{
	height: 115px;
	width: 400px;
	border: 1px solid #999999;
	margin-bottom: 15px;
}

p.marginless{
	margin: 0 !important;
	padding: 0 !important;
}

.formEmailer table td{
	font-size: 18px !important;
	font-family: Arial, Helvetica, sans-serif;
}

.formEmailer table td pre{
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Contact us ends */

/* Login */
div#login {
	display: block;
	height: 0;
	overflow: hidden;
	background: url(/content/files/public/style/images/backgrounds/login-middle-background.png) center no-repeat;
}

div#loginHidden {
	height: 112px;
}

div#login h1, div#login h2 {
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 18px;
	color: #fff;
	display: block;
	float: left;
	text-shadow: #0d3139 2px 2px 1px;
	line-height: 112px;
	padding-left: 18px;
	height: 112px;
}

div#login h2 {
	padding-left: 12px;
	padding-right: 36px;
	font-size: 14px;
	background: url(/content/files/public/style/images/backgrounds/login-divider.png) right no-repeat;
}

.newsTicker{
	overflow: hidden;
	width: 591px !important;
}

.newsTicker .rssTicker{
	margin-top: 3px;
	height: 15px !important;
	overflow: hidden;
	position: relative;
	background: #fff}

.newsTicker .rssTicker .rssTicker{
	top: 0 !important;
	left: 0 !important;
	overflow: hidden;
	margin-top: -3px;
	color: #000;
}


.newsTicker .tickerHeader{
font-size: 11px;
}


/* IE fade stuff */
div#login{
	position: relative;
}
/* IE fade stuff ends */

.column .content_list .article_item{
	padding: 0 !important;
	margin: 0;
	margin-bottom: 10px;
}

.column .content_list{
	padding: 0 !important;
}

.column .content_list .article_item .blog-entry-body{
	display: none;
}

.column .content_list .article_item_first .article_teaser{
	display: none;
	border-width: 0px;
	margin: 0 !important;
	padding: 0 !important;
	width: 176px !important;
	text-align: left;
}

.column .content_list .article_author{
	display: none;
}

.column .content_list .blog-entry-date{
	display: none;
}

.column .content_list .article_item .item_details_command{
	display: none;
}

.column .content_list .article_item_first .item_details_command{
	display: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	font-size: 12px;
}

.column .content_list .blog-entry-title {
	line-height: 17px;
	font-size: 12px;
	width: auto;
	font-weight: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
	margin: 0 !important;
	background: url(/content/files/public/style/images/icons/list-arrow.gif) no-repeat 0px 5px;
	padding-left: 8px;
	margin-bottom: 3px !important;
}


.columns .column .content_list{
margin-top: 17px;
}

.main .columns .column .articleFrontText .blog-entry-title,
.frontHeading .blog-entry-title{
display: block !important;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: normal;
margin-top: 17px;
margin-bottom: 17px;
}


.main .columns .column .content_list .blog-entry-title{
font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Verdana, sans-serif;
font-size: 12px;
}

.columns .column .miniProducts .blog-entry-title{
display: none !important;
}


.column div.new_is{
height: 34px;
width: 34px;
background: url(/content/files/public/style/images/icons/new.gif) no-repeat;
float: right;
margin-top: -45px;
margin-right: 13px;
}

.column div.new_en{
height: 34px;
width: 34px;
background: url(/content/files/public/style/images/icons/new-en.gif) no-repeat;
float: right;
margin-top: -45px;
margin-right: 10px;}

div.columns div.column div.blog-entry-title{
width: auto;
}

body.frontTemplate .columns .column h1{
display: none;
}



#bottom .blog-entry-body{
overflow: hidden;
width: auto !important;
}

#bottom .blog-entry-title{
display: none;
}

#bottom .article_author{
display: none;
}

#bottom .blog-entry-date{
display: none;
}

/* Anchor links */
a.seeNoEvil:hover{
	text-decoration: none;
}

a.seeNoEvil{
	color: inherit;
}

/* Anchor links end */

/* Ble */
#newsList .article_author{
display: none;
}

body.frontTemplate #container #middle #banner object{
width: 836px;
}
/* Ble ends */

.frontHeading .article_item{
margin: 0 !important;
margin-left: 8px !important;
}

.flags{
position: absolute;
right: 0;
top: 68px;
z-index: 999;
}

.flags a{
padding-right: 8px;
}

.frontHeading{
width: 176px !important;
overflow: hidden;
}

.frontHeading .article_item{
width: auto;
}

.frontHeading .blog-entry-title{
margin-bottom: 0 !important;
width: auto;
}


/*.blackboard {
background-color:#0C1021;
color:#F8F8F8;
}
pre {
margin:5px;
overflow:auto;
padding:5px;
}*/

pre {
background-color:#F8F8FF !important;
border:1px solid #DEDEDE !important;
color:#444444 !important;
font-size:90% !important;
line-height:1.5em !important;
margin:1em 0 !important;
overflow:auto !important;
padding:0.5em !important;
}
pre code {
background-color:#F8F8FF !important;
border:medium none !important;
font-size:100% !important;
padding:0 !important;
}
code {
background-color:#F8F8FF !important;
border:1px solid #DEDEDE !important;
color:#444444 !important;
font-size:90% !important;
padding:0 0.2em !important;
}
pre, code {
-x-system-font:none;
font-family:Monaco,"Courier New",monospace;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}



